body{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Staatliches', cursive;
}
table {
    border-collapse: collapse;;
    color: white;
    text-align: center;
}
  
table, th, td {
    border: 2px;
    border-style: groove;
    border-color: #ffffff;
}

th,td{
    width: 30px;
    height: 30px;
}

#computerGrid{
    visibility: hidden;
}

#shipsContainer{
    margin-top:10px;
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
}
#submarine{
    grid-column: span 1;
}
td + td:hover{
    border-color: chartreuse;
}
div table{
    background-image: url("../img/steel.png");
    margin: 10px;
}

h1{
    color: white;
    margin: 10px;
    background-color: red;
}
.water{
    background-image: url("../img/water.png");
}
.steel{
    background-image: url("../img/steel.png");
}
.hit{
    background-image: url("../img/Lava.png");
}
.miss{
    background-image: url("../img/Darktile.png");
}
#title{
    margin: 0;
    text-align: center;
}
#reset{
    margin-top: 40px;
    display: none;
}
