body{
    display: flex ; align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}
table {
    border-collapse: collapse;;
    color: white;
    text-align: center;
}
  
table, th, td {
    border: 2px solid white;
}

th,td{
    width: 30px;
    height: 30px;
}

#shipsContainer{
    margin-top:10px;
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
}
#submarine{
    grid-column: span 1;
}
td + td:hover{
    background-color: blue;
}
div table{
    background-color: blue;
    margin: 10px;
}

h3{
    color: white;
}
